
$mainBlue: rgb(16, 116, 158);
$mainBlueHover: rgba(16, 116, 158, 0.25);
$dropdownBg: rgb(16, 116, 158);
$menuBg: rgba(0, 61, 87, 0.78);
$mainLight: rgb(245,245,245);
$textColor: rgb(34,34,34);
$gray: #d7d7d7;
$dark: rgb(51, 51, 51);
$shadowColor: rgb(56, 56, 56);
$descriptionBgBlue: rgba(16, 116, 158, 0.67);


$mainlyFont: 'Bungee', cursive;
$secondlyHeaderFont: 'Sigmar One', cursive;
$bodyFont: 'Source Sans Pro', sans-serif;
$latoFont: 'Lato', sans-serif;

$phone-horizonatal-width: 640px;
$tablet-horizontal-width: 1024px;
$desktop-width: 1800px;
$tablet-vertical-width: 768px;
$small-phone-height: 470px;
$small-phone-width: 316px;


.hidden{
  visibility: hidden;
  position: absolute;
}
@mixin verySmall{
  @media only screen and (max-height: #{$small-phone-height}){
    @content;
  }
}

@mixin onlyTablet{
  @media only screen and (min-width: #{$tablet-width}) and (max-width: #{$tablet-horizontal-width - 1px}) {
    @content;
  }
}

@mixin small{
  @media only screen and (min-width: #{$phone-horizonatal-width}) {
    @content;
  }
}

@mixin medium{
  @media only screen and (min-width: #{$tablet-vertical-width}) {
    @content;
  }
}

@mixin large{
  @media only screen and (min-width: #{$tablet-horizontal-width}){
    @content;
  }
}

@mixin extraLarge{
  @media only screen and (min-width: #{$desktop-width}){
    @content;
  }
}

@-webkit-keyframes wheel{
  50%{
    top: 30%;
  }
}

@keyframes wheel{
  50%{
    top: 30%;
  }
}
