@import "settings";
@import "grid";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	list-style: none;
	text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
}
h2{
  font-family: $mainlyFont;
}
.btn{
	min-width: 10rem;
	display: block;
	font-family: $mainlyFont;
	text-align: center;
	color: $mainLight;
	padding: .3rem .5rem;
	margin: .5rem;
	border: 3px solid #000;
	transition: .2s all ease-in;

	&:hover{
		cursor: pointer;
	}

	@include large{
		min-width: 7rem;
	}
}
.btn-group{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.top-menu{
  padding: .2rem .8rem;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: .1s background-color linear;

  &.scrolled{
    background-color: rgba(10,10,10, .8);
    box-shadow: 0 0 10px #222;
  }

  &.open{
    background-color: $dropdownBg;
    .top-menu__head > a > svg{
      color: $mainLight;
    }
  }

  @include medium{
    padding: .5rem 4rem;
  }

}
.top-menu__header{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}
.top-menu__head{
  width: 40%;
  font-size: 1.6rem;
  font-family: $mainlyFont;
  line-height: 1.5;
  margin-left: .4rem;
  margin-top: .3rem;

  a{
    color: $mainLight;

    svg{
      color: $mainBlue;
      transition: .2s color ease-in;

    }
  }
}

.top-menu__toggler{
  border: none;
  background: transparent;
  font-size: 2rem;
  margin-right: .6rem;
  transition: .4s all ease-in-out;
  color: $mainLight;

  &:hover, &:focus{
    border: none;
  }

	@include medium{
		display: none;
	}
}

.dropdown{
  font-size: 20px;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  transition: .4s all linear;
  padding: .8rem .5rem;

  &.hidden{
    transform: translateY(-100%);
  }
  &.open{
    background-color: $dropdownBg;
  }
  & > ul{
    width:100%;
		display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;

		& > li, & > li > a{
			display: block;
			width:100%;
		}

		& > li{
			background-color: transparent;

			&:hover, &.active{
        background-color: $mainLight;
        & > a{
					color: $mainBlue;
				}
      }
		}

    & > li > a{
      font-family: $secondlyHeaderFont;
      color: $mainLight;
      position: relative;
      min-height: 2rem;
      text-align: center;
      padding: .3rem .6rem;
      transition: .3s all ease-in-out;

    }

  }

	@include medium{
		position: relative;
		top: 0;
		left: auto;
		width:50%;
		font-family: $mainlyFont;

		& > ul{
			flex-direction: row;

			& > li{
				position: relative;

				&:after{
					content: '';
					width: 35px;
					height: 0;
					background-color: $mainBlue;
					position: absolute;
					display: block;
					left: 50%;
					bottom: -5px;
					-ms-transform: translateX(-50%);
					transform: translateX(-50%);
					transition: .2s height ease-in-out 0s;
				}

				&:hover, &.active{
					background-color: transparent;

					&:after{
						height: 4px;
					}

					& > a{
						color: $mainLight;
					}
	      }
			}

			& > li > a{
				font-family: $latoFont;
				font-size: .8em;
			}

		}
	}
}
.particle-canvas{
  display: none;
}
.main-header{
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  background: {
		image:  url('../../img/home-bg.jpg');
		position: center;
		repeat: no-repeat;
		size: cover;
    attachment: fixed;
  }
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.8);
  width: 100%;
  height: 110vh;
  position: relative;

	&::after{
		content: '';
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top,#0a0a0a 0,rgba(19,19,19,.25) 50%,rgba(19,19,19,.25) 50%,#0a0a0a 100%),url(../images/noise.png);
		position: absolute;
		display: block;
		left: 0;
		top: 0;
	}

  .main-header__content{
    position: relative;
    display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
    padding-left: 15px;
		z-index: 3;

    h1{
      color: $mainLight;
      font-size: 2.7rem;
      font-family: $mainlyFont;
    }
    p{
      color: $mainBlue;
      font-size: 1.5rem;
      text-shadow: 0 0 1px $mainLight;
      font-family: $secondlyHeaderFont;
    }
  }

	@include medium{
		align-items: center;
	}
}
.show-more{
  display: block;
  margin: 1rem .5rem;
  padding: .4rem .7rem;
  width: 50%;
  text-align: center;
  font-family: $secondlyHeaderFont;
  color: $mainLight;
  border: 3px solid $mainLight;
	background-color: $mainBlueHover;
  transition: .3s all ease-in;

  &:hover{
    background-color: $mainLight;
    color: $mainBlue;
  }
}
.main-header__bottom_buttons{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	justify-content: center;
	bottom: 5rem;
	left:0;
	z-index: 2;

	.mouse-icon{
	  width: 2rem;
	  height:3rem;
	  border-radius: 1rem;
		display:block;
		position: relative;
		opacity:0.8;
	  border: 4px solid $mainLight;
	  transition: .2s all linear;

	  &:hover{
	    background-color: $mainBlueHover;
	  }

	  .wheel{
	    width:.3rem;
	  	height: .5rem;
	  	display:block;
	  	position:absolute;
	  	top:.5rem;
	  	left: .6rem;
	    border-radius: 50%;
	    background-color: $mainLight;
	    animation: wheel 1.2s linear infinite;
	  }
	}

	@include verySmall{
		display: none;
	}
}
.container{
  padding:2rem;
  font-family: $latoFont;
  font-size: 1.1rem;
  line-height: 1.3;
  text-align: justify;
  color: $textColor;
	position: relative;

  h2{
    text-align: center;
    margin: 0 auto;
    font-size: 1.8rem;
    position: relative;
    width: 15rem;
  }

}
.header-separator{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	margin-bottom: 2rem;

	.header-separator__square{
		width: 10px;
		height: 10px;
		background-color: $mainBlue;
		margin: 0 1rem;
		transform: rotate(45deg);
	}

	.header-separator__line{
		width: 4rem;
		height: 1px;
		background-color: $textColor;
	}
}
.about__header{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.section-decorator{
	position: relative;
	overflow: hidden;
	color: $mainLight;
	top: -4rem;
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
	text-align: center;
	transform: perspective(900px) rotate(45deg);
	box-shadow: 2.5px 2.5px 10px 0 rgba(0,0,0,.1);
	background-color:$mainBlue;
	border: 8px solid $mainLight;

	svg{
		transform: perspective(999px) translateX(-2px)  rotate(-45deg);
	}

}
.img-thumbnail{
  width: 100%;
  height: auto;
	margin: 0 auto;
  border-radius: 10px;
  box-shadow: 3px 3px 8px $shadowColor;
  margin-bottom: 2rem;

	@include small{
		width: 60%;
	}
	@include medium{
		width: 35%;
	}
	@include large{
		width: 25%;
	}
}
.about{
  .about__links,.about__content,.about__description{
    display: flex;
  }

  .about__content{
    flex-direction: column;

      @include medium{
        flex-direction: row;
				justify-content: space-between;
      }

    .about__description{
      flex-direction: column;
      justify-content: center;
			font-family: $latoFont;

			@include medium{
        width: 50%;
      }
    }

    .about__links{
			margin-top: 20px;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;


      .cv{
        color: $mainLight;
        background-color: $mainBlue;
        border-color: $mainBlue;

        &:hover{
          color: $mainBlue;
          background-color: $mainLight;
        }
      }

      .contact-btn{
        color: $mainBlue;
        background-color: $mainLight;
        border-color: $mainBlue;

        &:hover{
          color: $mainLight;
          background-color: $mainBlue;
        }
      }
    }
  }
}
.projects-wrapper{
  padding: 0;

	.projects{
		justify-content: flex-start;
	}

  .single-project{
    width:100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
    position: relative;
    overflow: hidden;

    .single-project__details{
      position: absolute;
      display: flex;
			flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      top:0;
      background-color: $descriptionBgBlue;
      transform: translateY(100%);
      transition: .4s all cubic-bezier(.17,.67,.83,.67);
    }
    .single-project__thumbnail{
      width:100%;
			height: 100%;
			transition: .35s all linear;
    }
		.single-project__code,
		.single-project__live{
			background-color: $mainBlueHover;
			border-color: $mainLight;

			&:hover{
				background-color: $mainLight;
				color:$mainBlue;
			}

		}
		.single-project__title{
			font-family: $mainlyFont;
			font-size: 2rem;
			color: $mainLight;

			@include large{
				font-size: 1.5rem;
			}
		}

    &:hover, &:focus{

      .single-project__details{
        transform: translateY(0);
      }
			.single-project__thumbnail{
        transform: scale(1.2);
      }
    }
		@include medium{
			width: 50%;
		}

		@include large{
			width: 30%;
			margin-left: 3%;
			box-shadow: 0 0 5px 0 rgba(0,0,0,.8);
		}
  }
}
.skills{
	.skills__list{
		margin: 0 auto;
		width: 100%;
		padding: 0 1rem;
		.skills__item{
	    width: 6rem;
			filter: grayscale(1.1);
			transition: .25s all linear;

	    .skills__icon{
	      width:100%;
	    }

			&:hover{
				filter: grayscale(0);
				transform: scale(1.1);
			}
	  }
	}

}
.contact{
	padding: 0;

	h3{
		font-family: $mainlyFont;
		font-size: 1.2em;
		color: $dark;
		text-align: center;
		margin-bottom: 20px;
	}

	.contact__content{
		width: 100%;
		display: flex;
		flex-direction: column;

		@include large{
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.contact-form{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 10px 15px;
		margin: 1rem .5rem;
		box-shadow: 0 5px 25px 0 rgba(0,0,0,.1);
		border-radius: 2px;

		@include medium{
			width: 80%;
			margin: 1rem auto;
		}

		@include large{
			width: 50%;
			margin: 1rem auto;
		}

	}

	.contact-form__field{
		font-family: $latoFont;
		font-size: 1em;
	}

	.contact-form__input, .contact-form__textarea{
		border: 1px solid #666;
		border-radius: 2px;
		padding: 5px 10px;
		margin-bottom: 20px;
		margin-top: 10px;
		width: 100%;
		transition: .2s all linear;

		&:hover, &:focus{
			border-color: $mainBlue;
		}

		&:focus{
			box-shadow: 0 0 5px 0 $mainBlue;
		}
	}

	.contact-form__textarea{
		resize: vertical;
		min-height: 150px;
	}

	.contact-form__field--required{
		vertical-align: top;
		font-size: .45em;
		color: #e53935;
		margin-left: 2.5px;
	}

	.contact-form__confirm-btn{
		background-color: $mainBlue;
		border-color: $mainBlue;

		&:hover{
			color: $mainBlue;
			background-color: $mainLight;
		}
	}

	.contact-info{
		padding: 10px 15px;
		margin-bottom: 40px;
		font-family: $latoFont;
		color: $dark;
		line-height: 1.5;

		svg{
			color: $mainBlue;
		}

		& > p > a{
			font-size: 1.2em;
			color: $dark;
		}

		@include large{
			width: 40%;
			padding: 10px 30px;
		}
	}
}
.page-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: #212121;
  color: $mainLight;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.8);
  font-family: $latoFont;
  padding: 1rem;
  text-align: center;

	.footer-nav{
		width: 60%;

		.footer-nav__links{
			justify-content: space-around;

			.footer-nav__single-link{
				display: inline-block;
				border: 2px solid $mainBlue;
				padding: .5rem;
				color: $mainLight;
				width: 40px;
				height: 40px;
				transition: .3s all cubic-bezier(.83,.03,.62,.38);

				&.github{
					border-color: #614381;
					background-color: rgba(97,67,129,.1);

						&:hover{
							background-color: rgba(97,67,129,1);
						}
				}

				&.fb{
					background-color: rgba(59,89,152,.1);
					border-color: #3b5998;

					&:hover{
						background-color: rgba(59,89,152,1);
					}
				}

				&.cv{
					background-color: rgba(255,107,107,.1);
					border-color: #ff6b6b;

					&:hover{
						background-color: rgba(255,107,107,1);
					}
				}

				&.ln{
					background-color: rgba(0,119,181,.1);
					border-color: #0077b5;

					&:hover{
						background-color: rgba(0,119,181,1);
					}
				}
			}

		}

		@include large{
			width: 30%;
		}

	}

	.footer-separator{
		height: 2px;
		margin: 10px 0;
		width: 50%;
		background-image: radial-gradient(ellipse at center,rgba(255,255,255,.1) 0,transparent 100%);
	}
}
