.custom-btn{
    display: block;
    background: #514a9d;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 0px transparent;
    border-radius: 0.3rem;
    overflow: hidden;
    margin: 10px;
    
    span{
        display: inline-block;
        position: relative;
        z-index: 10;
        padding: 10px 30px;
        background-color: transparent;
        font-size: .9rem;
        transition: .1s color ease-in;
        color: #fff;
    }

    &:before{
        content: "";
        width: 0;
        height: 0;
        padding: 50%;
        border-radius: 50%;
        background: #73ddfd;

        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate3d(-50%, -50%, 0) scale(0);
        transition: transform .3s ease-out;
    }

    &:hover:before{
        transition-duration: .3s;
	    transform: translate3d(-50%, -50%, 0) scale(1.5);
    }

    &:hover span{
        color: #514a9d;
    }
}