.menu{

    &-item{
        color: #ffffff;
        padding: 10px 15px;
        text-decoration: none !important; 
        transition: .15s all linear;

        &:hover{
            color: #48dbfb;
        }
    }
}

.menu.nav{
    display: flex;
}

.page-header{
    position: fixed;
    top: 0;
    padding: 18px 40px;
    z-index: 999;
    width: 100vw;
    transition: .2s all ease-in;

    .row{
        align-items: center;
    }
  
    .logo{
      font-size: 1.8em;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }

    &.scrolled, &.open{
        background: rgba(55, 79, 146, 0.623);
    }
}

.toggle-menu-btn{
    display: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 1.7rem;
}

@media (max-width: 768px) {

    .nav-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .toggle-menu-btn{
        display: block;
        color: #fff;
    }

    .page-header{
        padding: 15px;

        .logo{
            font-size: 1.5rem;
        }
    }

    .menu.nav{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-item{
            color: #ffffff;
            padding: 10px 15px;
            text-decoration: none !important; 
            transition: .15s all linear;
    
            &:hover{
                color: #48dbfb;
            }
        }
    }
}