.page-footer {
  min-height: 25vh;
  color: #fff;
  background: linear-gradient(to right, #005c97, #363795);
  padding: 50px;

  p.cyan {
    color: #48dbfb;
  }

  .social-media {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
    }

    .social-media__item {
      text-decoration: none !important;
      color: #fff;
      font-size: 1.8rem;
      transition: 0.2s all ease-out;

      &:hover {
        color: #48dbfb;
      }
    }
  }
}
