*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Comfortaa', cursive;
}

.skewed-bg{
  background: linear-gradient(to right, #4a69bd, #514a9d);
  transform: skew(0deg, -12deg);
  border-radius: 10%;
  margin-top: -12%;  
  margin-left: -10%;
  width: 110vw;
  

  .skewed-content {
    padding-top: 12%;
    margin-left: 10%;
    transform: skew(0deg, 12deg);
    width: 100%;
  }
}

.top-section{
  height: 70vh;
  padding: 100px;
  color: #ffffff;

  .top-section__title{
    color: #48dbfb;
    font-size: 3em;
  }
}

.button{
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  position: relative;
  border: none;
  font-size: .6875rem;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 6px;
  margin: 0;
  font-family: Rubik,sans-serif;
  overflow: hidden;

  &:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #49f3f3;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.section{
  
  .section-title{
    font-size: 2.5em;
    color: #514a9d;
    text-align: center;
  }
}