*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Comfortaa', cursive;
  background: linear-gradient(to top, #ece9e6, #ffffff);
  overflow-x: hidden;
}

.skewed-bg{
  background: linear-gradient(to right, #4a69bd, #514a9d);
  transform: skewY(-6deg);
  transform-origin: top left;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 30%;
  height: 100%;
  width: 100%;
  

  .skewed-content {
    padding-top: 12%;
    margin-left: 10%;
    transform: skew(0, 6deg);
    width: 80%;
  }
}

.top-section{
  height: 70vh;
  padding: 100px;
  color: #ffffff;

  .top-section__title{
    color: #48dbfb;
    font-size: 3em;
  }
}

.section{
  
  .section-title{
    font-size: 2.5em;
    color: #514a9d;
    text-align: center;
  }
}

.row{
  margin: 0 -5px;
}